DB_HOST=db
DB_PORT=5432
DB_USER=root
DB_PASSWORD=RooT!@123
DB_NAME=inventory_reservations
APP_PORT=8080
DEBUG_PORT=2345
JWT_SECRET=supersecretkey
QUOTE_EXPIRATION_MINUTES=2
QUOTE_EXPIRATION_CRON_SPEC="@every 1m"
QUOTE_EXPIRATION_COUNT_LIMIT=1000
QUOTE_EXPIRATION_NOTIFY_URL=""
QUOTE_EXPIRATION_NOTIFY_TIMEOUT_SECONDS=5
ARCHIVE_RESERVATIONS_AFTER_DAYS=1
ARCHIVE_RESERVATIONS_CRON_SPEC="@every 1m"
ARCHIVE_RESERVATIONS_COUNT_LIMIT=1000
MAX_QTY_TO_RESERVE=10
ADMIN_API_TOKEN="admin-token"
PUBLIC_API_TOKEN="public-token"
